
#left-pic {
  border: 2px solid green;
  height: 300 px;
  width: auto;
}

#center-pic {
  border: 2px solid green;
  height: 300 px;
  width: auto;
}

#right-pic {
  border: 2px solid green;
  height: 300 px;
  width: auto;
}